*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform/
.terraform.lock.hcl

*.tfplan

.env
.terraformrc
.terraform.d/

*.DS_Store
*.swp
*.swo
.idea/
.vscode/